
$clr-black: black ;
$clr-white: #FFFFFF;
$clr-off-white: #f4f7f6;
$clr-dark-grey: #444444;
$clr-light-lilac: #d2b9cc;
$clr-dark-lilac: #c664af;
$clr-dark-blue: #244679;
$clr-light-blue: #7d8fa5;
$clr-light-yellow: #f1e5b6;
$clr-dark-yellow: #ebc561;

