@use "../../styles/variables" as *;
.mainSection__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .mainSection__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        margin-top: 10px;
        justify-content: space-evenly;
    }
}