
body {
  min-height:100vh;
  width: 100vw;
  background-color: white;
  font-family: 'Caveat', cursive, 'Dancing Script', cursive, 'Sen', sans-serif;
  margin: none !important;
  background-color: #f4f7f6;;
}

.wholePage {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}


.mainSection {
  background-color: lightblue;
}